# Project 3: Finding relationships in baseball

In [1]:
import datadotworld as dw
import altair as alt

## 1. Write an SQL query to create a new dataframe about baseball players who attended BYU-Idaho.

In [3]:
byu_baseball = dw.query('byuidss/cse-250-baseball-database', 
                """SELECT DISTINCT playerid as playerID , schoolid AS schoolID, s.yearid AS Year, s.teamid AS Team, salary AS Salary
                    FROM collegeplaying cp
                    JOIN salaries s
                    USING(playerid)
                    WHERE schoolid = 'idbyuid'
                    ORDER BY salary DESC""")
print(byu_baseball.dataframe.to_markdown())

|    | playerID   | schoolID   |   Year | Team   |   Salary |
|---:|:-----------|:-----------|-------:|:-------|---------:|
|  0 | lindsma01  | idbyuid    |   2014 | CHA    |  4000000 |
|  1 | lindsma01  | idbyuid    |   2012 | BAL    |  3600000 |
|  2 | lindsma01  | idbyuid    |   2011 | COL    |  2800000 |
|  3 | lindsma01  | idbyuid    |   2013 | CHA    |  2300000 |
|  4 | lindsma01  | idbyuid    |   2010 | HOU    |  1625000 |
|  5 | stephga01  | idbyuid    |   2001 | SLN    |  1025000 |
|  6 | stephga01  | idbyuid    |   2002 | SLN    |   900000 |
|  7 | stephga01  | idbyuid    |   2003 | SLN    |   800000 |
|  8 | stephga01  | idbyuid    |   2000 | SLN    |   550000 |
|  9 | lindsma01  | idbyuid    |   2009 | FLO    |   410000 |
| 10 | lindsma01  | idbyuid    |   2008 | FLO    |   395000 |
| 11 | lindsma01  | idbyuid    |   2007 | FLO    |   380000 |
| 12 | stephga01  | idbyuid    |   1999 | SLN    |   215000 |
| 13 | stephga01  | idbyuid    |   1998 | PHI    |   185000 |
| 14 | stephga01  | idbyuid    |   1997 | PHI    |   150000 |

## 2. This three-part question requires you to calculate batting average (number of hits divided by the number of at-bats)

### a. Write an SQL query that provides playerID, yearID, and batting average for players with at least 1 at bat that year. Sort the table from highest batting average to lowest, and then by playerid alphabetically. Show the top 5 results in your report.

In [12]:
bat_avg_1 = dw.query('byuidss/cse-250-baseball-database', 
                """SELECT playerid AS playerID, yearid AS Year, h/ab as Batt_avg
                    FROM batting
                    WHERE ab >= 1
                    ORDER BY Batt_avg DESC, playerID
                    LIMIT 5""")
print(bat_avg_1.dataframe.to_markdown())

|    | playerID   |   Year |   Batt_avg |
|---:|:-----------|-------:|-----------:|
|  0 | aberal01   |   1957 |          1 |
|  1 | abernte02  |   1960 |          1 |
|  2 | abramge01  |   1923 |          1 |
|  3 | acklefr01  |   1964 |          1 |
|  4 | alanirj01  |   2019 |          1 |

### b. Use the same query as above, but only include players with at least 10 at bats that year. Print the top 5 results.

In [5]:
bat_avg_2 = dw.query('byuidss/cse-250-baseball-database', 
                """SELECT playerid AS playerID, yearid AS Year, h/ab as Batt_avg
                    FROM batting
                    WHERE ab >= 10
                    ORDER BY batt_avg DESC
                    LIMIT 5""")
print(bat_avg_2.dataframe.to_markdown())

|    | playerID   |   Year |   Batt_avg |
|---:|:-----------|-------:|-----------:|
|  0 | nymanny01  |   1974 |   0.642857 |
|  1 | carsoma01  |   2013 |   0.636364 |
|  2 | altizda01  |   1910 |   0.6      |
|  3 | johnsde01  |   1975 |   0.6      |
|  4 | silvech01  |   1948 |   0.571429 |

### c. Now calculate the batting average for players over their entire careers (all years combined). Only include players with at least 100 at bats, and print the top 5 results.

In [56]:
bat_avg_3 = dw.query('byuidss/cse-250-baseball-database', 
                """SELECT playerid AS playerID, SUM(h)/SUM(ab) AS Batt_Career_Avg, SUM(h), SUM(ab)
                    FROM batting
                    GROUP BY playerid   
                    HAVING SUM(ab)>= 100  
                    ORDER BY Batt_Career_Avg DESC           
                    LIMIT 5""")

print(bat_avg_3.dataframe.to_markdown())

|    | playerID   |   Batt_Career_Avg |   sum |   sum_2 |
|---:|:-----------|------------------:|------:|--------:|
|  0 | cobbty01   |          0.366299 |  4189 |   11436 |
|  1 | barnero01  |          0.359682 |   860 |    2391 |
|  2 | hornsro01  |          0.358497 |  2930 |    8173 |
|  3 | jacksjo01  |          0.355752 |  1772 |    4981 |
|  4 | meyerle01  |          0.355509 |   513 |    1443 |

Examples to solve question  3

In [7]:
teams_lan_nya = dw.query('byuidss/cse-250-baseball-database', 
                """ SELECT s.yearid, teamid, AVG(salary), name
                    FROM salaries s
                    JOIN teams t
                    USING (teamid)
                    WHERE teamid = 'LAN' OR teamid = 'NYA'
                    GROUP BY s.yearid,teamid
                    ORDER BY AVG(salary) desc""")
print(teams_lan_nya.dataframe.to_markdown())

|    |   yearid | teamid   |              avg | name                |
|---:|---------:|:---------|-----------------:|:--------------------|
|  0 |     2010 | NYA      |      8.25334e+06 | New York Yankees    |
|  1 |     2014 | NYA      |      8.231e+06   | New York Yankees    |
|  2 |     2005 | NYA      |      8.0118e+06  | New York Yankees    |
|  3 |     2009 | NYA      |      7.74805e+06 | New York Yankees    |
|  4 |     2016 | NYA      |      7.68958e+06 | New York Yankees    |
|  5 |     2013 | NYA      |      7.48319e+06 | New York Yankees    |
|  6 |     2015 | LAN      |      7.4411e+06  | Los Angeles Dodgers |
|  7 |     2015 | NYA      |      7.33627e+06 | New York Yankees    |
|  8 |     2013 | LAN      |      6.98007e+06 | Los Angeles Dodgers |
|  9 |     2011 | NYA      |      6.975e+06   | New York Yankees    |
| 10 |     2006 | NYA      |      6.95225e+06 | New York Yankees    |
| 11 |     2008 | NYA      |      6.92989e+06 | New York Yankees    |
| 12 |     2014 | LAN      |      6.78171e+06 | Los Angeles Dodgers |
| 13 |     2012 | NYA      |      6.77663e+06 | New York Yankees    |
| 14 |     2007 | NYA      |      6.75925e+06 | New York Yankees    |
| 15 |     2004 | NYA      |      6.35152e+06 | New York Yankees    |
| 16 |     2016 | LAN      |      6.32253e+06 | Los Angeles Dodgers |
| 17 |     2003 | NYA      |      5.45535e+06 | New York Yankees    |
| 18 |     2002 | NYA      |      4.34236e+06 | New York Yankees    |
| 19 |     2003 | LAN      |      4.2229e+06  | Los Angeles Dodgers |
| 20 |     2008 | LAN      |      4.08926e+06 | Los Angeles Dodgers |
| 21 |     2009 | LAN      |      4.01658e+06 | Los Angeles Dodgers |
| 22 |     2001 | LAN      |      3.76227e+06 | Los Angeles Dodgers |
| 23 |     2007 | LAN      |      3.73981e+06 | Los Angeles Dodgers |
| 24 |     2002 | LAN      |      3.64811e+06 | Los Angeles Dodgers |
| 25 |     2001 | NYA      |      3.62217e+06 | New York Yankees    |
| 26 |     2010 | LAN      |      3.53178e+06 | Los Angeles Dodgers |
| 27 |     2006 | LAN      |      3.51597e+06 | Los Angeles Dodgers |
| 28 |     2011 | LAN      |      3.47297e+06 | Los Angeles Dodgers |
| 29 |     2004 | LAN      |      3.44081e+06 | Los Angeles Dodgers |
| 30 |     2000 | LAN      |      3.3817e+06  | Los Angeles Dodgers |
| 31 |     2000 | NYA      |      3.2978e+06  | New York Yankees    |
| 32 |     2012 | LAN      |      3.17145e+06 | Los Angeles Dodgers |
| 33 |     1999 | NYA      |      2.99084e+06 | New York Yankees    |
| 34 |     2005 | LAN      |      2.76797e+06 | Los Angeles Dodgers |
| 35 |     1999 | LAN      |      2.37831e+06 | Los Angeles Dodgers |
| 36 |     1997 | NYA      |      2.14626e+06 | New York Yankees    |
| 37 |     1998 | NYA      |      2.08771e+06 | New York Yankees    |
| 38 |     1996 | NYA      |      1.59388e+06 | New York Yankees    |
| 39 |     1994 | NYA      |      1.57694e+06 | New York Yankees    |
| 40 |     1992 | LAN      |      1.54442e+06 | Los Angeles Dodgers |
| 41 |     1997 | LAN      |      1.51268e+06 | Los Angeles Dodgers |
| 42 |     1995 | NYA      |      1.4375e+06  | New York Yankees    |
| 43 |     1998 | LAN      |      1.43588e+06 | Los Angeles Dodgers |
| 44 |     1993 | NYA      |      1.29166e+06 | New York Yankees    |
| 45 |     1993 | LAN      |      1.22912e+06 | Los Angeles Dodgers |
| 46 |     1994 | LAN      |      1.22581e+06 | Los Angeles Dodgers |
| 47 |     1992 | NYA      |      1.13768e+06 | New York Yankees    |
| 48 |     1996 | LAN      |      1.10484e+06 | Los Angeles Dodgers |
| 49 |     1991 | LAN      |      1.09302e+06 | Los Angeles Dodgers |
| 50 |     1995 | LAN      |      1.06144e+06 | Los Angeles Dodgers |
| 51 |     1991 | NYA      | 976577           | New York Yankees    |
| 52 |     1985 | NYA      | 711910           | New York Yankees    |
| 53 |     1989 | LAN      | 679728           | Los Angeles Dodgers |
| 54 |     1986 | NYA      | 660509           | New York Yankees    |
| 55 |     1988 | NYA      | 648038           | New York Yankees    |
| 56 |     1990 | NYA      | 633707           | New York Yankees    |
| 57 |     1990 | LAN      | 609106           | Los Angeles Dodgers |
| 58 |     1988 | LAN      | 561684           | Los Angeles Dodgers |
| 59 |     1989 | NYA      | 552077           | New York Yankees    |
| 60 |     1987 | NYA      | 488563           | New York Yankees    |
| 61 |     1987 | LAN      | 488407           | Los Angeles Dodgers |
| 62 |     1985 | LAN      | 476866           | Los Angeles Dodgers |
| 63 |     1986 | LAN      | 466056           | Los Angeles Dodgers |

In [9]:
main_salary_chart = (alt.Chart(teams_lan_nya.dataframe)
                    .encode(alt.X("yearid:Q", axis=alt.Axis(title= "Year")),alt.Y("avg", axis=alt.Axis(title="Average Salary ($)",)),color=alt.Color("name",title="Top Famous USA Teams"))
                    .mark_line()
                    .properties(title = "The Average Salary of the 2 Most Famous Teams in USA"))

main_salary_chart

alt.Chart(...)